.DS_Store
app/node_modules/
node_modules/
app/dist/
dist/
app/npm-debug.log
app/test/unit/coverage
app/test/e2e/reports
app/selenium-debug.log
app/src/tools/api/index.js
.idea/
__test/
dist-dll/
dist-old/
dist-pre/
dist-pre-jd/
dist-pre-*/
dist-pre*/
ssr/
./*.md
!README.md
.cache
